/*banner图*/
.banner {
	width: 100%;
	max-height: 500px;
}
@media screen and (min-width: 1919px){
   .banner {
      height: 500px;
   }
}
.banner img {
	width:100%;
	height: 100%;
	display: block;
}
/*招聘咨询*/
.about.marginAuto {
	width: 75rem;
	margin: 5.321rem auto;
	text-align: center;
}
.about .title {
	color: #4D4D4D;
	font-size: 4.375rem;
	letter-spacing: 5px;
}
.about .title-en {
	color: #808080;
	font-size: 1.562rem;
	letter-spacing: 4px;
}
.hr {
	height: 2px;
	background: #999999;
	margin-top: 6.25rem;
}
.recruitBox {
	padding: 2.5rem 0 1.875rem 0;
	border-bottom: 1px solid #D0D0D0;
	margin-bottom: 6.25rem;
	overflow: hidden;
}
.recruitBox>img {
	width: 5.375rem;
	height: 3.75rem;
}
.new-recruit {
	flex-shrink: 0;
	width: 11.25rem;
	height: 3.75rem;
	line-height: 3.75rem;
	text-align: center;
	font-size: 1.5rem;
	color: #fff;
	border-radius: 6px;
	margin-right: 2.5rem;
	background: linear-gradient(to bottom, #0B86DF, #0155D9);
}
.slideText {
	flex: 1;
	margin-left: 1.25rem;
	color: #666;
	line-height: 3.75rem;
	font-size: 1.4rem;
}
.tempWrap {
	width: 100% !important;
}
/*招聘岗位*/
.post {
	height: 37.5rem;
	width: 30%;
	background: #01469A;
	position: relative;
}
.postList {
	position: absolute;
	right: 0;
	top: 5rem;
	flex-direction: column;
	align-items: flex-end;
}
.postItem {
	height: 3.125rem;
	line-height: 3.125rem;
	/*padding: 0 1.875rem;*/
	width: 11.875rem;
	background: #5C8FCC;
	font-size: 1.25rem;
	border-top-left-radius: 3.125rem;
	border-bottom-left-radius: 3.125rem;
	margin-bottom: 1.875rem;
	cursor: pointer;
	letter-spacing: 0.625rem;
}
.postItem.tb {
	letter-spacing: 2px;
}
.postItem.on.tb {
	font-size: 1.25rem;
}
.postItem.kj {
	letter-spacing: 2.5rem;
}
.postItem.on {
	width: 13.125rem;
	height: 3.75rem;
	line-height: 3.75rem;
	background: #E6E6E6;
	color: #003371;
	font-size: 1.5rem;
}
/*招聘详情*/
.tab-content {
	width: 29.375rem;
	padding: 0.625rem 2.187rem 0 2.187rem;
	color: #868686;
	text-align: left;
}

.jobTitle {
	justify-content: space-between;
	align-items: flex-end;
}
.jobTitle span {
	font-size: 1.312rem;
	font-weight: bold;
}

.jobTitle i {
	font-size: 0.875rem;
	height: 0.937rem;
}
.jobUl {
	margin-top: 0.625rem;
}
.jobUl li {
	font-size: 0.94rem;
	line-height: 1.6;
	letter-spacing: 1px;
	
}
.jobUl .require {
	font-size: 1.062rem;
	font-weight: 600;
}
.tab-main {
	height: 100%;
	position: relative;
	overflow: hidden;
}
.paging {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}
.paging li {
	font-size: 0.875rem;
	cursor: pointer;
}
.paging ul {
	align-items: center;
}
.num {
	width: 1.25rem;
	height: 1.25rem;
	line-height: 1.25rem;
	text-align: center;
}
.prev1 {
	margin-right: 1.25rem;
}
.next1 {
	margin-left: 1.25rem;
}
.num.active {
	background: #003371;
	color: #fff;
}
/*热门职位*/
.recruit-r {
	flex: 1;
}
.recruit-r>div {
	height: 50%;
}
.recruit-r .title {
	height: 3.75rem;
	line-height: 3.75rem;
	background: #01469A;
	font-size: 1.875rem;
	color: #fff;
}
.hot ul, .slide {
	border: 1px solid #B5B5B5;
	height: 15rem;
}
.slide {
	border-top: none;
}
.common .content {
	height: 3.75rem;
	line-height: 3.75rem;
	padding: 0 2.125rem 0 1.25rem;
}
.hot .content {
	border-bottom: 1px solid #B5B5B5;
}
.long .content {
	border-top: 1px solid #B5B5B5;
}
.content span {
	color: #01469A;
	font-size: 1.25rem;
}
.content i:nth-of-type(1) {
	font-size: 1.25rem;	
	color: #747474;
}
.content i:nth-of-type(2) {	
	font-size: 0.875rem;	
	letter-spacing: 1px;
	color: #747474;
}
.content em {
	color: #747474;
	font-size: 0.625rem;
	/*line-height: 15px;*/
}
.hot .content:nth-of-type(4) {
	border-bottom: none;
}

@media screen and (max-width: 900px) {
	.about.marginAuto {
		width: 44rem;
	}
	.hr {
		margin-top: 2.25rem;
	}
	.new-recruit {
		width: 7.5rem;
		margin-right: 1rem;
	}
	.recruitBox>img {
		width: 3rem;
		height: 2rem;
		margin-top: 1rem;
	}
	.yd1 {
		display: none;
	}
	.recruitBox {
		margin-bottom: 2.25rem;
		padding: 1.5rem 0;
	}
	.recruit-r {
		display: none;
	}
	.post {
		width: 35%;
	}
	.post {
		height: 52rem;
	}
	.tab-content {
		width: 65%;
		height: 52rem;
		padding-left: 1rem;
		padding-right: 0;
	}
	.postItem.tb {
		letter-spacing: 1px;
	}
	.jobTitle span {
		font-size: 1.4rem;
	}
	.slideText {
		font-size: 1.3rem;
	}
	.jobUl li {
		font-size: 1.17rem;
		line-height: auto;
	}
	.jobUl .require {
		font-size: 1.2rem;
	}
}
@media screen and (max-width: 321px){
	.infoList li {
		width: 140px !important;
	}
}