/*banner图*/
.banner {
	width: 100%;
	max-height: 500px;
}
@media screen and (min-width: 1919px){
   .banner {
      height: 500px;
   }
}
.banner img {
	width:100%;
	height: 100%;
	display: block;
}
/*行业动态*/
.trends.marginAuto {
	width: 62.5rem;
}
.imgBox {
    width: 15rem;
    height: 10rem;
}
.trends {
	margin-top: 6.25rem;
	margin-bottom: 6.25rem;
	border-top: 1px solid #999999;
	border-bottom: 1px solid #999999;
}
.trends .content {
	padding: 2.5rem 0;
}
.sidebar {
	margin-right: 4.062rem;
}
.sidebar li {
	font-size: 1.5rem;
	padding: 4rem 4.5rem; 
	position: relative;
}
.sidebar .hot, .sidebar .on {
	background: #003371;
}
.sidebar .hot::after, .sidebar .on::after {
	position: absolute;
	content: '';
	right: -3.125rem;
	top: 50%;
	transform: translateY(-50%);
	border-top: 0.937rem solid transparent;
	border-right: 1.562rem solid transparent;
	border-bottom: 0.937rem solid transparent;
	border-left: 1.562rem solid #003371;
}
.msg {
	margin-bottom: 2.5rem;
	height: 10rem;
}
.msg .text {
	padding: 1.07rem 0 0 2.437rem;
	flex: 1;
}
.text a {
	color: #868686;
	font-size: .9rem;
	font-weight: 400;
	/*display: block;*/
	transition: .2s all linear;
}
/*.text .scale:hover {
	color: #003371;
	font-size: 1rem;
}*/
.msg .text p {
	margin-top: 0.5rem;
	font-size: 0.625rem;
	color: #868686;
}
@media screen and (max-width: 900px){
	.trends.marginAuto {
		width: 44rem;
	}
	.msg img {
		width: 14rem;
		height: 10rem;
	}
	.sidebar {
		margin-right: 2.5rem;
	}
	.sidebar li {
		padding: 4rem 1.7rem;
	}
	.msg .text {
		width: 18rem;
		padding: 0 0 0 0.5rem;
	}
	.sidebar .hot::after, .sidebar .on::after {
		right: -3rem;
	}
	.text a {
		font-size: 1.3rem;
	}
	.msg .text p {
		font-size: 1rem;
		margin: 0;
	}
}