.main {
	width: 75rem;
	margin: 5.321rem auto;
    color: grey;
    text-align: center;
}
.main .title {
	font-size: 1.562rem;
	color: #333333;
	margin-bottom: 1.562rem;
}
.main .text p {
	font-size: 1.187rem;
	text-indent: 2em;
	line-height: 1.5;
	text-align: justify;
	letter-spacing: 5px;
}
/*名字标题*/
.main .text .name {
	font-size: 1.4rem;
	text-indent: 0;
	font-weight: bold;
	color: #333333;
}
.ewm-foot {
	width: 50rem;
}
.main .text {
	text-align: center;
}
.main .text img {
	margin: 0.625rem 0 2.125rem 0;
}
.main .active {
	font-size: 1.25rem;
	color: #333;
}
.mb-10 {
	margin-bottom: 0.625rem;
}
/*年会新闻*/
.main .text .small {
	margin: .625rem 0;
}
.main .text .alt {
	text-indent: 0;
}
.main .text .center {
	text-align: center;
}
.justify {
	justify-content: space-around;
}
.chuyi {
	flex-wrap: wrap;
	margin: .5rem 0;
}
.cy {
	width: 50%;
	text-align: center;
}
.cy img {
	width: 30rem;
	height: 23rem;
}
.endImg {
	width: 50rem;
}
b {
	font-weight: bold;
}
@media screen and (max-width: 900px){
	.main {
		width: 44rem;
	}
	.main .text img {
		width: 40rem;
	}
	.main .title {
		font-size: 2.5rem;
	}
	.justify {
		display: block;
	}
	.chuyi {
		display: block;
	}
	.cy {
		width: 100%;
	}
	.main .text p {
		letter-spacing: 3px;
	}
}