footer {
	background: #f0f0f0;
    color: #fff;
    padding: 3rem 0 2rem;
    z-index: 3;
    position: relative;
}
.aboutUs {
	text-align: center;
}

.aboutUs a i, .aboutUs a em {
	display: inline-block;
    width: 1.25rem;
    height: 1.125rem;
    position: relative;
    margin-left: .625rem;
    top: .2rem;
}
.aboutUs a i {
	background: url('../../assets/images/index/weibo1.png');
}
.aboutUs a em {
	background: url('../../assets/images/index/smallEwm.png');
}
.aboutUs .ewmCode {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 9.5rem;
	height: 9.5rem;
	background: url('../../assets/images/index/ewm.png')no-repeat;
	background-size: contain;
	transition: .5s all linear;
	display: none;
}
.aboutUs a:hover {
	color: #db251d;
}
.aboutUs a:hover i {
	background: url('../../assets/images/index/weibo2.png');
}
.aboutUs a:hover .ewmCode {
	display: block;
}
.copy, .link {
	text-align: center;
}
.link {
	margin: 1.25rem 0;
}
.link span:nth-of-type(1) {
	color: #666870;
    font-size: .875rem;
}
.copy a, .copy span, footer a {
	color: #666870;
    font-size: .875rem;
}
.aboutUs span, .link span {
	display: inline-block;
	margin: 0 .312rem;
	color: #666870;
}
.copy img {
	position: relative;
	top: .3rem;
	margin-left: .5rem;
}