/*footer*/
footer {
	background: #101926;
}
.footer-logo {
	justify-content: center;
	border-bottom: 2px solid #fff;
}
.footer-logo .title {
	text-align: center;
	padding: 1.25rem 0;
}
.footer-logo .title img {
	width: 5rem;
}
.footer-logo .title span {
	font-size: 3.75rem;
}
.foot-details {
	padding: 2.875rem 6.875rem;
}
.detailsBox {
	justify-content: space-between;
	align-items: center;
}
.detailsBox .left p {
	font-size: 1.38rem;
	margin-bottom: 0.75rem;
}
.detailsBox .left p:nth-of-type(3) {
	margin-bottom: 0px;
}
.detailsBox .right {
	flex-direction: column;
}
.right img {
	width: 6.25rem;
	height: 6.25rem;
}
.right>div {
	margin-bottom: 0.937rem;
}
.right>div p {
	font-size: 1rem;
}
@media screen and (min-width: 1919px){
   .footer-logo .title img {
   	width: auto;
   }
   .footer-logo .title span {
   	font-size: 100px;
   }
}

.left .text {
	height: 13.75rem;
	width: 20rem;
	background: #101926;
	text-align: left;
}
.left .title {
	font-size: 2.375rem;
	color: #fff;
	letter-spacing: 0.562rem;
}
.left .title-en {
	font-size: 1.625rem;
	letter-spacing: 2px;
}
.left .hr {
	background: #0260D1;
	width: 11.563rem;
	height: 1px;
	margin: 0.625rem 0 1.25rem 0;
}
.detailsBox .details p {
	margin-bottom: 0.5rem;
	font-size: 0.875rem;
	color: #999999;
	letter-spacing: 1px;
}
.details p img {
	margin-left: 0.875rem;
	vertical-align: top;
}