
.marginAuto {
	width: 1000px;
	margin: 0 auto;
}
/*脙忙掳眉脨录脩霉脢陆*/
.crumbs {
	width: 62.5rem;
	margin: 2rem auto 0;
	color: #000;
}
.crumbs li {
	color: #4D4D4D;
	font-size: 1rem;
}
.crumbs li span {
	margin: 0 .3rem;
}
.crumbs li a {
	color: #4D4D4D;
}
/*露楼虏驴碌录潞陆*/
header {
	box-shadow: -2px 1px 10px rgba(0,0,0,.1);
	border-top: 2px solid #e5472e;
	background: #fff;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    color: #333;
}
.pcNav .on {
	background: #e5472e;
    border-bottom-right-radius: 10em;
    border-bottom-left-radius: 10em; 
}
.pcNav .on a {
	color: #fff !important;
}
header>div {
	justify-content: space-between;
}
.logo {
	width: 15.3125rem;
    height: 4.375rem;
    background: url(../../assets/images/index/logo2.png) left center no-repeat;
    background-size: 15.3125rem auto;
}


.m {
	height: 70px;
	line-height: 70px;
	margin-left: 10px;
	position: relative;
}
.m>a {
	width: 85px;
	display: block;
	text-align: center;
	color: #333;
}
.hiddenBox {
	position: absolute;
	top: 0;
	width: 100%;
	/*padding-top: 70px;*/
	z-index: -1;
	text-align: center;
	background: #E5472E;
	border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    display: none;
}
.hiddenBox li {
	/*height: 4.375rem;
    line-height: 4.375rem;*/
    color: #fff;
}

.hiddenBox li a {
	/*opacity: .5;*/
	display: block;
	color: #fff;
	height: 2rem;
	line-height: 2rem;
}
.hiddenBox li:nth-of-type(1) {
	height: 4.375rem;
	line-height: 4.375rem;
}
.hiddenBox li:hover a {
	/*opacity: 1;*/
}
/*脪脝露炉露脣碌录潞陆*/
.none {
	display: none;
}
.block {
	display: block !important;
}

.hengxbox {
	height: 34px;
	width: 34px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	outline: none;
}
.hengx {
	width: 100%;
	height: 3px;
	background-color: #AAAAAA;
	transition: transform 0.3s;
}
.hengx + .hengx {
	margin-top: 5px;
}
@media screen and (max-width: 900px){
	.crumbs {
		width: 44rem;
	}
	.viewHead {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.logo {
		display: block;
		font-size: 20px;
		height: 34px;
		line-height: 34px;
	}
	.pcNav {
		display: none;
		position: absolute;
		right: 0;
		top: 34px;
		width: 100%;
		text-align: left;
		z-index: 11;
	}
	.m {
		background: #003371 !important;
		padding: 0 10px;
		margin: 0;
		height: auto;
		line-height: 37px;
		border-bottom-right-radius: 0!important;
    	border-bottom-left-radius: 0!important;
	}
	.m .hiddenBox li:nth-of-type(1) {
		display: none;
	}
	.m>a {
		width: auto;
		text-align: left;
		font-size: 18px;
		display: block;
		color: #fff;
		padding: 0 10px;
	}
	.hiddenBox {
		position: relative;
		top: 0;
		padding: 0;
		z-index: 1;
		border-bottom-right-radius: 0!important;
    	border-bottom-left-radius: 0!important;
	}
	.hiddenBox li {
		text-align: left;
		background: #003371;
	}
	.hiddenBox li:hover {
		background: rgba(0, 0, 0, .6);
	}
	.hiddenBox li a {
		display: block;
		padding: 0 30px;
		opacity: 1;
		font-size: 18px;
		line-height: 34.4px;
	}
	.headerNav {
		display: block;
		margin: 0;
		width: auto;
		padding: 0 0 10px 0;
	}
	.ydNav {
		display: block;
	}
	.headerBox {
		justify-content: space-between;
	}
	.marginAuto {
		width: 90%;
	}
}