/*banner图*/
.banner {
	width: 100%;
	max-height: 500px;
}
@media screen and (min-width: 1919px){
   .banner {
      height: 500px;
   }
}
.banner img {
	width:100%;
	height: 100%;
	display: block;
}

/*市场概括*/
.about.marginAuto {
	width: 1200px;
	margin: 85px auto;
	text-align: center;
}
.about .title {
	color: #4D4D4D;
	font-size: 70px;
	letter-spacing: 5px;
}
.about .title-en {
	color: #808080;
	font-size: 38px;
	letter-spacing: 5px;
}
.hr {
	height: 2px;
	background: #999999;
	margin-top: 40px;
}
.courseBox {
	width: 800px;
	margin: 100px auto 0;
}
.module .time {
	height: 70px;
	line-height: 70px;
	font-size: 40px;
	background: #003371;
	border-radius: 70px;
	letter-spacing: 6px;
	margin-bottom: 20px;
}
.module .text {
	text-align: left;
	text-indent: 1em;
	font-size: 30px;
	color: #000000;
	letter-spacing: 4px;
	line-height: 1.5;
}
.courseBox .module:nth-of-type(2) {
	margin-top: 50px;
}