/*网站地图*/
.mapTitle {
	color: #323232;
	font-size: 2.25rem;
	padding-bottom: .5rem;
	border-bottom: 2px solid #dedede;
}
.main {
	width: 63.75rem;
	margin: 4rem auto;
}
.mapDl {
	padding: 1.5rem 0;
}
.mapDl dl {
	display: flex;
	margin-bottom: 1.25rem;
	padding-bottom: 1.25rem;
	border-bottom: dashed 1px #c5c5c5;
}
.listTitle {
	width: 6.625rem;
	height: 1.875rem;
	line-height: 1.875rem;
	padding-left: 1.125rem;
	font-size: 1rem;
	color: #323232;
	background: url(../../assets/images/map/1.png) no-repeat;
	background-size: contain;
	margin-right: 2rem;
}
dl dd {
	margin-right: 1.56rem;
	height: 1.875rem;
}
dl dd a {
	display: block;
	font-size: 1rem;
	line-height: 1.875rem;
	color: #3f77a5;
}
@media screen and (max-width: 900px) {
	.marginAuto {
		width: 90%;
	}
	.main {
		width: 44rem;
	}
}