/*banner图*/
.banner {
	width: 100%;
	max-height: 500px;
}
@media screen and (min-width: 1919px){
   .banner {
      height: 500px;
   }
}
.banner img {
	width:100%;
	height: 100%;
	display: block;
}

.about.marginAuto {
	width: 62.5rem;
	margin: 5.321rem auto;
	text-align: center;
}
.about .title {
	color: #4D4D4D;
	font-size: 4.375rem;
	letter-spacing: 5px;
}
.about .title-en {
	color: #808080;
	font-size: 2.375rem;
	letter-spacing: 5px;
}
.hr {
	height: 2px;
	background: #999999;
	margin-top: 2.5rem;
}
/*企业文化*/
.culture {
	margin-top: 6.25rem;
	height: 50.375rem;
	background-image: url(../../assets/images/concept/main.png);
	background-size: 100% 100%;
	overflow: hidden;
}
.cultureItem {
	width: 38.75rem;
	height: 12.5rem;
	margin-bottom: 2px;
	background: rgba(0, 51, 113, .8);
	padding: 1.687rem 1.875rem 0 1.875rem;
	text-align: left;
	font-size: 1.875rem;
}
.cultureItem:nth-of-type(1) p,.cultureItem:nth-of-type(2) p {
	margin-bottom: 1.75rem;
}
.cultureItem:nth-of-type(4) p {
	margin-bottom: 0.625rem;
}
.cultureItem:nth-of-type(4) {
	padding: 1.25rem 1.875rem 0 1.875rem;
}
.cultureItem p {
	margin-bottom: 3.437rem;
}
.cultureItem span {
	font-size: 1.25rem;
}

/*核心价值*/
.coreValue {
	margin-top: 6.125rem;
}
.coreValue .title {
	font-size: 3.125rem;
	color: #003371;
	text-align: left;
	line-height: 1;
	margin-bottom: 2.187rem;
}
.coreValue .content {
	flex-wrap: wrap;
	justify-content: center;
	
}
.content div {
	width: 20.833rem;
	height: 16.75rem;
	transition: .3s all linear;
}
.content div:hover {
	box-shadow: 0 6px 1.25rem 0 rgba(0, 0, 0, 0.5);
	transform: scale(1.05);
}
.blue {
	background: #003371;
}
.lightBlue {
	background: #3475C5;
}
.headline {
	padding: 2.5rem 0 0 2.5rem;
	font-size: 3.125rem;
	line-height: 1;
	text-align: left;
}
.content .text {
	margin-top: 2rem;
	font-size: 1.875rem;
	line-height: 1.5;
}
@media screen and (max-width: 900px){
	.about.marginAuto {
		width: 44rem;
	}
	.cultureItem {
		width: 34rem;
		height: 12.375rem;
		padding: 1.687rem 1.1rem 0 1.1rem;
	}
	.content div {
		width: 14.6rem;
		height: 15rem;
	}
}