.sidebar .sidebarItem {
	color: #003371;
	cursor: pointer;
}
.sidebar .sidebarItem.on {
	color: #fff;
}
.imgBox {
	width: 15rem;
	height: 10rem;
}
.imgBox img {
	width: 100%;
	height: 100%;
	display: block;
}
@media screen and (max-width: 900px){
	.imgBox {
		width: 14rem;
		height: 10rem;
	}
}