@media screen and (max-width: 900px){
	/*顶部导航栏*/
	.pcNav {
		display: none;
		position: absolute;
		right: 0;
		top: 10%;
		width: 100%;
		text-align: left;
		z-index: 11;
	}
	.m {
		background: #122756;
		padding: 0 10px;
		margin: 0;
	}
	.m>a {
		display: block;
		opacity: 1;
	}
	.hiddenBox {
		position: relative;
		top: 0;
	}
	.hiddenBox li {
		text-align: left;
		background: #122756;
	}
	.hiddenBox li a {
		display: block;
		padding: 0 30px;
		opacity: 1;
		font-size: 18px;
	}
	.headrNav {
		display: block;
	}
	.ydNav {
		display: block;
		z-index: 10;
	}
	.headerBox {
		justify-content: space-between;
	}
	.marginAuto {
		width: 90%;
	}
	.logo {
		margin: 0;
	}
	.headerText {
		margin-top: 33%;
	}
	.headerText .title, .titleAll {
		font-size: 3rem;
		/*margin-bottom: 20px;*/
		letter-spacing: 5px;
	}
	.headerText .text {
		padding: 0 40px;
		font-size: 15px;
	}
	.arrows {
		left: 47%;
		bottom: -30%;
	}
	.arrows i {
		width: 30px;
		height: 30px;
	}
	.enAll {
		font-size: 1.9rem;
		letter-spacing: 0px;
		margin-top: .5rem;
	}
	.hr {
		height: 1px;
		margin: 1.33rem 0 ;
		background: #fff;
	}
	.details .text {
		font-size: 15px;
		letter-spacing: 3px;
	}
	.businessBox {
		top: 56%;
		left: 18%;
	}
	.swiper-pagination-bullet {
		width: 10px !important;
		height: 10px !important;
		margin: 20px 0 !important;
	}
	/*footer .title {
		font-size: 20px;
		padding: 10px 0;
	}*/
	/*.top {
		top: 7%;
		left: 3%;
		font-size: 10px;
	}*/
	/*.right img {
		width: 7rem;
		height: 7rem;
	}*/
	.address {
		margin-top: 0px;
	}
	.address .marginAuto {
		/*justify-content: space-between;*/
		margin-top: 2%;
	}
	.blogroll {
		margin: 1rem auto;
	}
	/*.address .left {
		width: 48%;
	}*/
	.left .title1 {
		/*font-size: 17px;*/
		letter-spacing: 7px;
	}
	/*.left .title-en {
		font-size: 11px;
	}*/
	.left .hr {
		width: 8.5rem;
	}
	.address .footDetails p {
		margin-bottom: 0px;
		/*font-size: 12px;*/
	}
	/*.right>div.mb-10 {
		font-size: 13px;
	}*/
	/*.filing {
		bottom: 1%;
		font-size: 12px;
	}*/
  .banner-video {
    display: none;
  }
  .header-bg {
    display: block;
  }
  /*.about-bg {
    height: 50%;
  }*/
  /*footer {
    height: 50%;
  }*/
  /*背景图片*/
  .business-bg {
  	background-image: url(../../assets/images/index/phone3.png);
  }
  .businessBox.details {
  	width: 72%;
  }
  .about-bg {
  	background-image: url(../../assets/images/index/phone4.png);
  	height: 72%;
  }
  footer {
  	height: 28%;
  }
  .aboutBox.details {
  	width: 59%;
  }
  .aboutBox .text {
  	letter-spacing: 2px;
  }
  .aboutBox {
  	top: 5%;
  	left: 37%;
  }
  .serve-bg {
  	background-image: url(../../assets/images/index/phone2.png);
  }
  .serveBox.details {
  	width: 53%;
  }
  .serveBox {
  	top: 8%;
  	left: 14.8%;
  }
}

@media screen and (max-width: 321px){
	.logo {
		font-size: 20px;
	}
	.headerText .title, .titleAll {
		font-size: 3rem;
	}
	.headerText .text {
		padding: 0 20px;
    font-size: 2rem;
	}
	footer .title {
		padding: 10px 0;
	}
	/*.right img {
		width: 63px;
		height: 63px;
	}*/
	/*.address .marginAuto {
		margin-top: 2%;
		align-items: center;
	}*/
	/*.address .left {
		width: 60%;
	}*/
	/*.left .title1 {
		font-size: 15px;
	}
	.left .title-en {
		font-size: 9px;
	}*/
	.left .hr {
		width: 9rem;
	}
	/*.right>div.mb-10 {
		font-size: 9px;
	}*/
	/*.filing {
		font-size: 9px;
	}*/
}